* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    position: relative;
}
body {
    background: #777777 url("../images/intersection.png");
    height: 100%;
}
.header{
    max-width: 980px;
    margin: 0 auto;
    white-space: nowrap;
}

.header header {
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding: 15px 0px 15px 0;
    white-space: nowrap;
}

.header-links{
    /*float: right;*/
    background: white;
    text-align: right;
    font-size: 20px;
    padding: 20px;
    /*padding-right: 20px;*/

}
.header-links a {
    /*display: inline;*/
    /*float: right;*/
    text-align: right;
    padding-right: 10%;
    margin-left: 10%;
    text-decoration: none;
    border-right: 1px solid #777777;

}
.header-links a:last-child {
    border: none;
    /*padding: 0;*/
}
a:link{
    color: #dddddd;
    text-decoration: none;
}
.header-links a:link{
    color: #777777;
}
a:active{
    color: #dddddd;
}
.header-links a:active{
    color: #777777;
}
a:visited{
    color: #dddddd;
    text-decoration: none;
}
.header-links a:visited{
    color: #777777;
}
a:hover {
    color: crimson;
}
.header-links a:link{
    color:crimson;
}

.content-container{
    max-width: 980px;
    margin: 30px auto;
}
.main-content{
    background: #ffffff;
    margin: 10px 0 10px;
}
.main-content header{
    font-size: 24px;
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.content-container img {
    float: left;
    /*width: 100%;*/
    max-height: 50%;
    margin:0;
}
.content-container p{
    padding-top: 20px;
    text-indent: 30px;
    line-height: 25px;
}
.connect-content{
    background:#ffffff;
    margin: 10px 0 30px;
}
.connect-content header{
    font-size: 24px;
    color: #4aaaa5;
    border-bottom: 2px solid #777777;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.connect-content img{
    height:60px;
    width:60px;
    padding-right: 15px;
}

footer {
    margin-top: 25px;
    padding-top: 100px;
    border-top: 5px solid #4aaaa5;
    text-align: center;
    height:75px;
    background: #333333;
    color: #ffffff;
    line-height: 45px;
    position: static;
    bottom: 0;

}
input[class = 'input']{
    width: 100%;
}
textarea{
    width: 100%;
}
input[class='submit']{
    background: #4aaaa5;
    color: #ffffff;
    font-size: 25px;
}
.img1{
    background-image: url("../images/01-abstract-q-c-300-125-6.jpg");
    margin-bottom:30px;
    height: 250px;
}
.img2{
    background-image: url("../images/02-abstract-q-c-300-125-7.jpg");
    margin-bottom: 30px;
    height: 250px;
}
.img3{
    background-image: url("../images/03-abstract-q-c-300-125-10.jpg");
    margin-bottom: 30px;
    height: 250px;
}
.img4{
    background-image: url("../images/04-abstract-q-c-100-100-1.jpg");
    margin-bottom: 30px;
    height: 250px;
}
.img5{
    background-image: url("../images/05-technics-q-c-300-125-2.jpg");
    margin-bottom: 30px;
    height: 250px;
}
.img6{
    background-image: url("../images/06-technics-q-c-300-125-4.jpg");
    margin-bottom: 30px;
    height: 250px;
}
#p1 {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
#p2  {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
#p3 {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
#p4 {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
#p5 {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
#p6 {
    background-color: #4aaaa5;
    width: 106%;
    line-height: 30px;
    text-align: center;
    margin: 150px 0 0 -15px;
    /*opacity: .75;*/
    padding: 15px;
}
/* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
@media only screen and (min-width: 680px) {
    /* For tablet: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .img1{
        background-image: url("../images/01-abstract-q-c-300-125-6.jpg");
        height: 250px;
        margin: 15px 50px;
    }
    .img2{
        background-image: url("../images/02-abstract-q-c-300-125-7.jpg");
        height: 250px;
        margin: 15px 0;
    }
    .img3{
        background-image: url("../images/03-abstract-q-c-300-125-10.jpg");
        height: 250px;
        margin: 15px 50px;
    }
    .img4{
        background-image: url("../images/04-abstract-q-c-100-100-1.jpg");
        height: 250px;
        margin: 15px 0;
    }
    .img5{
        background-image: url("../images/05-technics-q-c-300-125-2.jpg");
        height: 250px;
        margin: 15px 50px;
    }
    .img6{
        background-image: url("../images/06-technics-q-c-300-125-4.jpg");
        height: 250px;
        margin: 15px 0;
    }

    #p1 {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p2  {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p3 {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p4 {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p5 {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p6 {
        background-color: #4aaaa5;
        width: 112%;
        line-height: 30px;
        text-align: center;
        margin-top: 150px;
        /*opacity: .75;*/
        padding: 15px;
    }

    .main-container img{
        height:200px;
    }
    .links{
        float: right;
    }
    .header-links a {
        display: inline;
        text-align: right;
        margin: 0 15px 0 auto;
        border-right: 1px solid #777777;
        text-decoration: none;
        padding-right: 15px;
    }
    .header-links a:first-child{
        padding-right: 25px;
    }

}

@media only screen and (min-width: 980px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .main-content img{
        height: 300px;
    }
    nav {
        text-align: right;
    }
    .header-links a {
        display: inline;
        /*float: right;*/
        margin: 0 20px 0 auto;
        /*border-right: 1px solid #777777;*/
        /*margin-left: 2.5%;*/
        text-decoration: none;
        /*padding-right: 15px;*/
    }
    .main-content{
        background: #ffffff;
        margin: 10px 0 100px;
    }
    footer{
        position: fixed;
        bottom: 0;
        margin-top: 25px;
        padding-top: 100px;

    }
    .img1{
        background-image: url("../images/01-abstract-q-c-300-125-6.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    .img2{
        background-image: url("../images/02-abstract-q-c-300-125-7.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    .img3{
        background-image: url("../images/03-abstract-q-c-300-125-10.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    .img4{
        background-image: url("../images/04-abstract-q-c-100-100-1.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    .img5{
        background-image: url("../images/05-technics-q-c-300-125-2.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    .img6{
        background-image: url("../images/06-technics-q-c-300-125-4.jpg");
        margin:10px 0 30px 4%;
        height: 250px;
    }
    #p1 {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p2  {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p3 {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p4 {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p5 {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
    #p6 {
        background-color: #4aaaa5;
        width: 106.6%;
        line-height: 30px;
        text-align: center;
        margin: 150px 0 0 -15px;
        /*opacity: .75;*/
        padding: 15px;
    }
}



